/* @import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css'); */
section.main-bay {
    min-width: 1000px;
    background: red;
    margin-bottom: 70px;
}
section.main-bay a {
    text-decoration: none;
}
/* 메인 이미지 스타일 */
section.main-bay .main-img-bay .long-img-bay {
    width: 100%;
    z-index: 1;
    position: relative;
    /* cursor: pointer; */
}
section.main-bay .main-img-bay .text-img-bay {
    /* display: flex; */
    /* background-color: aqua; */
    z-index: 2;
    position: absolute;
    top: -5px;
    left: 20%;
}
section.main-bay .main-img-bay .stop-bay {
    padding: 1px 3px;
    border: 1px solid orange;
    border-radius: 100px;
    z-index: 3;
    position: absolute;
    left: 50%;
    color: red;
}

/* section.inf-bay .main-img-bay .but-bay {
    border: 1px solid white;
    border-radius: 10px;
    z-index: 3;
    position: absolute;
    left: 50%;
} */

/* section-information style */
section.inf-bay {
   padding: 60px 0 70px;
   width: 1000px;
   /* background: skyblue; */
   margin: 0 auto;
   position: relative;
   
   
}
section.inf-bay a {
    text-decoration: none;
    color: black;
}
section.inf-bay .main-inf-bay {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
section.inf-bay .now-bay {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* section.inf-bay .news-bay .water-bay {
    display: flex;
    top: -20px; */

/* section.inf-bay ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;   
} */

section.inf-bay .news-bay .fBox-bay {
    /* border-top: 1px solid gray; */
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    text-align: justify;  
}
section.inf-bay .news-bay .fBox-bay li {
    border-bottom: 1px solid rgba(196, 192, 192, 0.5);
    font-size: 14px;
    font-weight: 700;
    
    
    
}

/* 첫번쨰 블록 */
section.inf-bay .news-bay {
    float: left;
    border: solid rgba(196, 192, 192, 0.5);
    box-sizing: border-box;
    width: 325px;
    padding: 35px 20px 30px;
    height: 500px;
    margin-right: 9px;
    border-top: 2px solid blue;
    border-width: 2px 1px 2px; 
} 
section.inf-bay .news-bay h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
}
section.inf-bay .news-bay div {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    /* color: aqua; */
    /* border-bottom: 2px solid gray; */
    margin-bottom: 30px;
}
section.inf-bay .news-bay li {
    padding: 16px 10px;
    line-height: 1;
}


/* 두번째 블록 */
section.inf-bay .today-bay {
    float: left;
    border: solid rgba(196, 192, 192, 0.5);
    box-sizing: border-box;
    width: 325px;
    padding: 35px 20px 30px;
    height: 500px;
    margin-right: 9px;
    border-top: 2px solid blue;
    border-width: 2px 1px 2px;
    text-align: center;
    
}
section.inf-bay .today-bay h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}






/* 세번째 블록 */
section.inf-bay .allSmart-bay {
    
    float: left;  
}
section.inf-bay .allSmart-bay .smart-bay {
    box-sizing: border-box;
    width: 325px;
    height: 378px;
    border: solid #e6e6e6;
    border-width: 1px 1px 2px;
    
}




